<div class="col-lg-4 col-sm-6 mb-4">
    <div class="gallery-item">
        <a class="gallery-link" data-bs-toggle="modal" href={{link}}>
            <div class="gallery-hover">
                <div class="gallery-hover-content"><img src="assets/img/gallery-hover.svg" /></div>
            </div>
            <img class="img-fluid" src={{image}} alt="..." />
        </a>
        <div class="gallery-caption">
            <div class="gallery-caption-heading">{{title}}</div>
            <div class="gallery-caption-subheading text-muted">{{subTitle}}</div>
        </div>
    </div>
</div>