<div class="col-md-4 tech-layout">
    <img class="img-tech" src={{image}} alt="..." />
    <div class="tech-desc">
        <div>
            <h4 class= "my-0" padding-top= "1.5px">{{name}}</h4>
            <p class="text-muted">{{description}}</p>
        </div>
    </div>
</div>