<div class="tech-layout">
    <span class="fa-stack fa-4x">
        <img class="img-fluid" data-bs-custom-class="custom-popover" data-bs-toggle="popover" src={{image}} title={{name}} data-bs-content="{{description}}" data-bs-trigger= "hover focus" data-bs-placement="top" alt="..." />
    </span>
</div>